* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden; // Prevent horizontal scroll
    box-sizing: border-box;

    @media (max-width: 480px) {
        font-size: 14px; // Slightly smaller base font on mobile
    }
}